<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{toolbarPrefix}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">

    <ion-title class="text-align-center">
      Sign-up
    </ion-title>

  <form [formGroup]="formDataModel">
    <ion-item lines="full">
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Surname</ion-label>
      <ion-input type="text" formControlName="surname"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button [disabled]="formDataModel.invalid" type="submit" shape="round" expand="block" (click)="submit()">Sign Up
          <ion-spinner [hidden]="hidden"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
  </div>
</ion-content>
