.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(7, auto);
  place-items: center;
  height: auto;
  margin-top: 1.6em;
}

.container-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  place-content: center;
  margin-top: 0.8em;
}

.small-circle-green {
  height: 1em;
  width: 1em;
  background-color: darkgreen;
  border-radius: 50%;
  margin-right: 0.3em;
}

.small-circle-red {
  height: 1em;
  width: 1em;
  background-color: orangered;
  border-radius: 50%;
  margin-right: 0.3em;
}

.small-circle-grey {
  height: 1em;
  width: 1em;
  background-color: dimgrey;
  border-radius: 50%;
  margin-right: 0.3em;
}
