<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="blue"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{toolbarPrefix}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center-view seats">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="circle" style="background: green !important;"></div>
        </ion-col>
        <ion-col>
          <div class="circle" style="background: green !important;"></div>
        </ion-col>
        <ion-col>
          <div class="circle" style="background: red !important;"></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="circle" style="background: green !important;"></div>
        </ion-col>
        <ion-col>
          <div class="circle" style="background: green !important;"></div>
        </ion-col>
        <ion-col>
          <div class="circle" style="background: red !important;"></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="circle" style="background: green !important;"></div>
        </ion-col>
        <ion-col>
          <div class="circle" style="background: green !important;"></div>
        </ion-col>
        <ion-col>
          <div class="circle" style="background: red !important;"></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="circle"></div>
        </ion-col>
        <ion-col>
          <div class="circle" style="background: green !important;"></div>
        </ion-col>
        <ion-col>
          <div class="circle"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-list>
    <ion-list-header>
      Legend
    </ion-list-header>
    <ion-item-group>
      <ion-item><div class="small-circle-green"></div> <ion-label>Available</ion-label></ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item><div class="small-circle-red"></div><ion-label>Occupied</ion-label></ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item><div class="small-circle-grey"></div><ion-label>Unavailable</ion-label></ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>


