<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="blue"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        {{toolbarPrefix}}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container-list">
    <div class="small-circle-green"></div>
    <label>SEAT AVAILABLE</label>
    <div class="small-circle-grey"></div>
    <label>SEAT UNAVAILABLE</label>
    <div class="small-circle-red"></div>
    <label>SEAT OCCUPIED</label>
  </div>

  <div class="container">
    <app-seat *ngFor="let seat of seats" [state]="seat.state" [seatId]="seat.id" (selectedSeat)="showAlert($event, seat.name)"></app-seat>
  </div>
</ion-content>




