.seats {
  border-style: double;
}

.center-view {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-49%, -49%);
  width: 90%;
}
ion-grid {
  margin-left: auto;
  margin-right: auto;
  width: 19em;
}
.circle {
  cursor: pointer;
  height: 2.3em;
  width: 2.3em;
  background-color: grey;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.seat {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 3.7em;
}

.label-cont {
  margin-left: auto;
  margin-right: auto;
  width: 3.9em;
}

.small-circle-green {
  height: 1em;
  width: 1em;
  background-color: forestgreen;
  border-radius: 50%;
  margin-right: 0.3em;
}

.small-circle-red {
  height: 1em;
  width: 1em;
  background-color: #e04055;
  border-radius: 50%;
  margin-right: 0.3em;
}

.small-circle-grey {
  height: 1em;
  width: 1em;
  background-color: grey;
  border-radius: 50%;
  margin-right: 0.3em;
}
