<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="blue"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        {{toolbarPrefix}}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <img src="assets/seat-available_2.svg" class="seat" alt="not found">
    <img src="assets/seat-available_2.svg" class="seat" alt="not found">
    <img src="assets/seat-unavailable_2.svg" class="seat" alt="not found">
    <img src="assets/seat-available_2.svg" class="seat" alt="not found">
    <img src="assets/seat-available_2.svg" class="seat" alt="not found">
    <img src="assets/seat-occupied_2.svg" class="seat" alt="not found">
    <img src="assets/seat-available_2.svg" class="seat" alt="not found">
    <img src="assets/seat-available_2.svg" class="seat" alt="not found">
    <img src="assets/seat-occupied_2.svg" class="seat" alt="not found">
    <img src="assets/seat-unavailable_2.svg" class="seat" alt="not found">
    <img src="assets/seat-available_2.svg" class="seat" alt="not found">
    <img src="assets/seat-unavailable_2.svg" class="seat" alt="not found">
  </div>

  <div class="container-list">
    <div class="small-circle-green"></div>
    <label>AVAILABLE</label>
    <div class="small-circle-grey"></div>
    <label>UNAVAILABLE</label>
    <div class="small-circle-red"></div>
    <label>OCCUPIED</label>
  </div>
</ion-content>




