<ion-menu side="start" contentId="main-view" menuId="sesalab-menu" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list id="inbox-list">
        <ion-item *ngFor="let item of appPages; let i = index">
          <ion-icon slot="start" [ios]="item.icon + '-outline'" [md]="item.icon + '-sharp'"></ion-icon>
          <ion-label>{{ item.title }}</ion-label>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
