<ion-menu side="start" contentId="main-content" menuId="sesalab-menu" type="overlay" (ionDidOpen)="ionDidOpen()">
  <ion-header>
    <ion-toolbar>
      <ion-item>
        <ion-title>{{menuTitle}}</ion-title>
        <ion-icon name="happy-outline"></ion-icon>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list id="inbox-list">
        <ion-item *ngFor="let item of appPages; let i = index">
          <ion-icon slot="start" [ios]="item.icon + '-outline'" [md]="item.icon + '-sharp'"></ion-icon>
          <ion-label>{{ item.title }}</ion-label>
        </ion-item>
      <ion-item (click)="logout()" class="logout-time">
        <ion-icon slot="start" [ios]="'log-out-outline'" [md]="'log-out-sharp'"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
